*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    width : 100vw;
    height: 100vh;
    flex-direction: column;
   
}

.Header_Image{
width : 100%;
height: 100%;
}

.header-text{
 
 display: flex;
 color: #ffffff;
 justify-content: space-between;
 padding-left: 30px;
 position: absolute;
 top: 10%;
 left: 50%;
 transform: translate(-80%, -40%);
 width: 90vw;
 margin-left: 30%;


}

 .header_items{
    display: flex;
    margin: 10px;
    padding-right: 50px;
    align-items :center
}

.header_items a{
   
   padding-right: 50px;
   

}

.Gallery-Name{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #ffffff;
    left: 25%;
    bottom: 50%;
     transform: translate(-60%, 30%);
     width: 50%;
     margin-left: 25%;
     font-family:Verdana, Geneva, Tahoma, sans-serif
}
.Dlctext{
    padding: 0px;
   
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link{
    color: white;
}

a:visited{
    color: white;
}



 .actual-img{
    object-fit: cover;
   
    width : 100%;
    height: 100%;
}


/* Welcome-Content*/

.welcome-content{
    width: 100vw;
    height: 55vh;
    justify-content: center;
    
   
}

.text{  
    width: 80%;
    height: 50%;
    margin-left: 4%;
    margin-bottom: 10%;
   
}

.a2{ 
    
    padding-left: 2%;
    margin-top: 10px;
}

.a3{
    
    padding-left: 1%;
    margin-top: 10px;
}
.a4{
    
    padding-left: 21%;
    margin-top: 10px;
    margin-bottom: 20%;
    
}


/* Text-Image */

.text-image{
    display: flex;
    width: 100vw;
    height: 120vh;
   
}

.welcome-text{
    display: flex ;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin-left:5% ;
    margin-top: 10%;
   
  
}
.title{
   
    margin-bottom: 10px;
   
}

.title{
   
    margin-top: 5%;
    padding-left: 22%;
    font-weight:inherit;
    font-stretch: narrower;
    font-size:x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome-content{
    padding-left: 10%;
    color: #070303a2;
    margin-top: 10%;
    
   
}
.welcome-img{
    object-fit: cover;
    margin-right: 10%;
}

p{
    color: #808080;
    font-size: large;
}
welcome-content2{
    padding-left: 25px;
    margin-top: 30px;
    
}

.para2{
    margin-top: 20px;
    
    padding-left: 10%;
}
.para1{
    margin-top: 20px;
    padding-left: 10%;
   
}

/* Big Image */
.big-image{
    margin : 3%;
}

.big-image2{
   
    width: 100vw;
    height: 130vh;
    object-fit: cover;
    margin-top: 5%;
}


/* half dived text with img 1*/
.welcome-page1{
    display: flex;
    width: 100vw;
    height: 150vh;
    margin-bottom: 10%;
    flex-direction: row-reverse;
}

.welcome-text1{
    display: flex ;
    flex-direction: column;
    width: 60%;
    object-fit: cover;
    margin-left:5% ;
    margin-top:20% ;
    
   
}
.title1{
    margin-top: 2%;
    padding-left: 15%;
    font-weight:inherit;
    font-stretch: narrower;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome-content1{
    padding-left: 10%;
    color: #070303a2;
    margin-top: 10%;
   
}
p{
   padding-bottom: 5px;
    padding-left: 5%;
}

.img1{
    margin-top:20% ;
    padding-left: 10%;
    
}

.welcome-img1{
   
    object-fit: cover;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top:10% ;
    
}




/* half dived text with img 2*/
.welcome-page2{
    display: flex;
    width: 100vw;
    height: 150vh;
    
}

.welcome-text2{
    display: flex ;
    flex-direction: column;
    width: 60%;
    object-fit: cover;
    margin-left:5% ;
    margin-top:20% ;
    
   
}
.title2{
    margin-top: 2%;
    padding-left: 15%;
    font-weight:inherit;
    font-stretch: narrower;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome-content2{
    padding-left: 10%;
    color: #070303a2;
    margin-top: 10%;
   
}
p{
   padding-bottom: 5px;
    padding-left: 5%;
}

.img2{
    margin-top:20% ;
    padding-left: 10%;
    
}

.welcome-img2{
   
    object-fit: cover;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top:10% ;
    
}



/*   Our World Image*/
.world-image{
    
    margin-top: 10% ;
    object-fit: cover;
    width: 100vw;
    height: 75vh;
    position: relative;
}

.world-text{
    color: #ffffff;
    position: absolute;
    top:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    margin-left: 40%;
    font-size: x-large;
}
.world-h5{
    padding-top: 10%;
    padding-left:20%;
    color: #ffffff;
}

#wh{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

h5{
    margin-top: 10%;
    margin-left: 12%;
    margin-bottom: 5%;
    color: #808080;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #c4b3b3;
    width: 100px;
    height: 65px;
    display: flex;
    justify-content: center;
}

.explore-box{
    margin-bottom: 50px;
}
/* FOOTER */
.footer{
    display: flex;
    width: 100vw;
    height: 80vh;
    color: #ffffff;
    background-color: #161F1E;
    font-weight: bold;
}


.logo{
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 50px;
}

.footer1{
    
    display: flex;
    flex-direction: column;
    margin-top: 5%;
   margin-right: 10%;
  
   
}

.footer2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
   margin-right: 10%;
}

.footer3{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
}

h4{
    margin-top: 10px;
}


/*  infinite carousal*/
.infiniteslider{
    width: 100vw;
    height: 110vh;
    margin-top: 2%;
    overflow: hidden;
    
}

.text-infinite{
    width:100%;
    height: 20%;
    color: black;
   
    margin-left: 10%;
    padding-top: 5%;
    font-size: large;
    font-weight: lighter;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.slide-track{
   
    padding: 20px;
    display: flex;
    
    height: 85%;
    width: calc(500px * 6);
    animation: scroll 40s linear infinite ;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-500px * 3));
    }
    
}
.slide{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    object-fit: cover;
}

.stext{
    position: absolute;
    top:60%;
   
    font-size:medium;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

#headinInfi{
    font-size:x-large;
    color: white;
}
#headinInfi1{
   padding-top: 5px;
    color: white;
}
