.header {
    display: flex;
    width: 100vw;
    height: 60vh;
    flex-direction: column;
}

.Header_Image {
    width: 100%;
    height: 100%;
}

.header-text {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding-left: 30px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-80%, -40%);
    width: 90vw;
    margin-left: 30%;
}

h1 {
    top: 10%;
}

.header_items {
    display: flex;
    margin: 10px;
    padding-right: 50px;
    align-items: center
}

.header_items a {
    padding-right: 50px;
}

.Gallery-Name {
    display: flex;
    position: absolute;
    color: #ffffff;
    left: 50%;
    bottom: 60%;
    transform: translate(-70%, -10%);
    width: 90vw;
    margin-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.actual-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-pad {
    display: flex;
    width: 100vw;
    height: 120vh;
    background-size: cover;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.item {
    display: flex;
    position: relative;
    width: 33%;
    height: 60%;
    background-color: black;
}

.item p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-80%, -40%);
    color: #fffefe;
    font-size: x-large;
}


/* FOOTER */

.footer {
    display: flex;
    width: 100vw;
    height: 80vh;
    color: #ffffff;
    background-color: #161F1E;
    font-weight: bold;
}

.logo {
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 50px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-right: 10%;
}

.footer2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
}

.footer3 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
}

h4,
h5 {
    margin-top: 5px;
}

@media only screen and (min-width:320px) and (max-width:750px) {
    .header .header-text .header_items {
        display: none !important;
    }
    .image-pad .item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: 40%;
    }
}


/*
   @media only screen and (max-width: 320px){
    .header .navbar{
        display: none;
    } 
     .centered .text-centered{
        margin-left: 34px;
        font-size: 44px;
    }
    .header .image{
        padding: 0px;
    }
    .cards {
        display: block;
    }
    .cards .img-card{
        width: 100%;
    } 
    .footer{
         display: block;
         height: auto;
    }  

}*/