
.heading {
    color : blue;
    border : 1px solid red;
}

.flex {
    border : 1px solid green;
    width : 500px;
    height : 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.i1 {
    border : 5px solid pink;
    width : 200px;
    height : 400px;
}

.i2 {
    border : 5px solid pink;
    width : 200px;
    height : 400px;
}


@media only screen and  (max-width : 600px) {

    .heading {
        color : red;
    }
    /* .flex {
        flex-direction
    }

    */
}